@use "global" as *;

.c-btn {
  display: flex;
  justify-content: center;
}

.c-btn.c-btn--left {
  @include mq(md) {
    justify-content: flex-start;
  }
}

.c-btn.c-btn--right {
  @include mq(md) {
    justify-content: flex-end;
  }
}

.c-btn__link {
  display: inline-block;
  background-color: $orange;
  color: $white;
  font-size: myrem(17);
  font-weight: 500;
  line-height: calc(21 / 17);
  padding: myrem(16) myrem(74);
  border-radius: myrem(6);
}

.c-btn.c-btn--secondary {
  padding: myrem(50) 0;
  @include mq(md) {
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: myrem(13);
  }
}

.c-btn--secondary .c-btn__link {
  background-color: $white;
  border: 1px solid $orange;
  color: $orange;
  padding: myrem(15) myrem(73);
}

.c-btn--contact .c-btn__link {
  padding: myrem(16) myrem(62);
}
