@use "global" as *;

.c-card {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: $white;
  @include mq(md) {
    width: myrem(345);
  }
}

.c-card__img {
  aspect-ratio: 335 / 216;
  overflow: hidden;
}

.c-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.c-card__wrapper {
  padding: myrem(26.1) myrem(20) myrem(26.4);
  @include mq(md) {
    padding: myrem(26.1) myrem(20) myrem(27.4);
  }
}

.c-card__title {
  font-size: myrem(24);
  font-weight: bold;
  line-height: calc(36 / 24);
  margin-bottom: myrem(22.5);
}

.c-card__text {
  font-size: myrem(18);
  line-height: calc(30 / 18);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.c-card--small .c-card__img {
  @include mq(md) {
    aspect-ratio: 250 / 160;
    overflow: hidden;
  }
}

.c-card.c-card--small {
  @include mq(md) {
    width: myrem(250);
  }
}

.c-card--small .c-card__wrapper {
  padding: myrem(26.1) myrem(20) myrem(27.4);
  @include mq(md) {
    padding: myrem(26.1) myrem(20) myrem(26.6);
  }
}

.c-card--small .c-card__title {
  @include mq(md) {
    margin-bottom: myrem(23.3);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.c-card--small .c-card__text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
