@use "global" as *;

.c-card {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: $white;
}

.c-card__img img {
  aspect-ratio: 335 / 216;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.c-card__wrapper {
  padding: myrem(28.1) myrem(20) myrem(25.4);
}

.c-card__title {
  font-size: myrem(24);
  font-weight: bold;
  line-height: calc(36 / 24);
  margin-bottom: myrem(22.5);
}

.c-card__text {
  font-size: myrem(18);
  line-height: calc(30 / 18);
}

.c-card--small .c-card__img img {
  @include mq(md) {
    aspect-ratio: 250 / 160;
  }
}

.c-card.c-card--small {
  @include mq(md) {
    width: myrem(250);
    // height: myrem(361);;
  }
}

.c-card--small .c-card__wrapper {
  @include mq(md) {
  padding: myrem(26.1) myrem(20) myrem(26.6);
  }
}

.c-card--small .c-card__title {
  @include mq(md) {
  margin-bottom: myrem(26.3);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  }
}

.c-card--small .c-card__text {
  @include mq(md) {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
