@use "global" as *;

.p-blog__wrapper .c-title {
  @include mq(md) {
    margin-right: myrem(15);
  }
}

.p-blog__text {
  font-size: myrem(16);
  line-height: calc(32 / 16);
  color: $black02;
  padding: myrem(16) 0 myrem(29);
  @include mq(md) {
    font-size: myrem(36);
    line-height: calc(50 / 36);
    padding: myrem(67.3) 0 myrem(102.7);
    text-align: right;
  }
}

.p-blog__cards {
  display: flex;
  flex-direction: column;
  gap: myrem(25);
  @include mq(md) {
    flex-direction: row;
    gap: myrem(33);
  }
}

.p-blog .c-btn.c-btn--left {
  padding-top: myrem(50);
  @include mq(md) {
    padding-top: myrem(80);
  }
}
