@use 'global' as *;

.p-footer {
  width: 100%;
  height: myrem(302);
  background: $cream;
  bottom: 0;
}

.p-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: myrem(22);
  @include mq(md) {
   gap: myrem(32);
  }
}

.p-footer__list {
  display: flex;
  flex-direction: column;
  @include mq(md) {
    flex-direction: row;
  }
}

.p-footer-item__link {
  word-break: break-all;
  display: block;
  text-align: center;
  font-size: myrem(15);
  font-weight: 500;
  line-height: calc(18 / 15);
  letter-spacing: -0.015em;
  color: $orange;
  width: 100%;
  padding: myrem(7) myrem(10);
  @include mq(md) {
    padding: myrem(7) myrem(12);
  }
}

.p-footer-item__link:hover {
  @include mq(md) {
    font-weight: bold;
    opacity: 1;
  }
}

.p-footer__copyright {
  font-size: myrem(15);
  line-height: calc(24 / 15);
  letter-spacing: -0.015em;
  color: $black02;
}
