@use "global" as *;

.p-header {
  height: myrem(60);
  background: $cream;
}

.p-header__inner {
  @include mq(md) {
    padding-inline: 0 myrem(14);
  }
}

.p-header__wrapper {
  display: flex;
  justify-content: flex-end;
}

.p-header__hamburger {
  display: flex;
  flex-direction: column;
  z-index: 44;
  padding: myrem(20) myrem(20);
  cursor: pointer;
}

.p-header__hamburger span {
  display: block;
  width: myrem(32);
  height: 2px;
  margin-bottom: myrem(8);
  background-color: $orange;
  display: inline-block;
  border-radius: myrem(9);
  transform: translateY(0) rotate(0);
  transition: transform ease-in-out 0.3s;

}

.p-header__hamburger span:last-child {
  margin-bottom: 0;
}

.p-header__hamburger.is-active span:nth-child(1) {
  transform: translateY(myrem(10)) rotate(45deg);
}

.p-header__hamburger.is-active span:nth-child(2) {
  background-color: transparent;
}

.p-header__hamburger.is-active span:nth-child(3) {
  transform: translateY(myrem(-10)) rotate(-45deg);
}

.p-header__menu {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: $cream;
  top: 0;
  left: 0;
  padding-top: myrem(193);
  z-index: 43;
  @include mq(md) {
    display: none;
  }
}

.p-header__menu-inner {
  padding: myrem(0) myrem(91);
  @include mq(md) {
    padding: myrem(0);
  }
}

.p-header__menu-wrapper {
  @include mq(md) {
    width: myrem(192);
    margin: 0 auto;
  }
}

.p-header__nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.p-header__nav-item {
  width: 100%;
  height: 100%;
  margin-top: myrem(44);
}

.p-header__nav-item:first-child {
  margin-top: 0;
}

.p-header-nav-item__link {
  word-break: break-all;
  display: block;
  font-size: myrem(24);
  font-weight: 500;
  line-height: calc(29 / 24);
  color: $orange;
  width: 100%;
  padding: myrem(10) myrem(0);
  text-transform: uppercase;
}

.p-header-nav-item__link:hover {
  @include mq(md) {
    font-weight: bold;
    opacity: 1;
  }
}

.p-header__btn {
  display: flex;
  justify-content: center;
  margin-top: myrem(150);
}

.p-header__btn .c-btn {
  padding: myrem(16) myrem(62);
}

/* ハンバーガーメニュー展開時、背景を固定 */
body.active {
  height: 100%;
  overflow: hidden;
}
