@use "global" as *;

.p-mainvisual {
  position: relative;
  justify-content: center;
}

.p-mainvisual__img {
  aspect-ratio: 1440 / 960;
  @include mq(md) {
    width: 100%;
  }
}

.p-mainvisual__img img {
  width: 100%;
  height: myrem(960);
  object-fit: cover;
  opacity: 0.7;
  @include mq(md) {
    height: 100%;
  }
}

.p-mainvisual__text {
  position: absolute;
  z-index: 10;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-mainvisual__title {
  font-size: myrem(24);
  line-height: calc(36 / 24);
  letter-spacing: -0.015em;
  padding: 0 myrem(20) myrem(30);
  @include mq(md) {
    font-size: myrem(56);
    line-height: calc(80 / 56);
  }
}
