@use "global" as *;

.p-news__box {
  @include mq(md) {
    display: flex;
    margin-bottom: myrem(64);
  }
}

.p-news__box .c-title {
  margin-bottom: myrem(15);
  @include mq(md) {
    margin-bottom: 0;
  }
}

.p-news__text {
  font-size: myrem(16);
  line-height: calc(32 / 16);
  padding: myrem(24.1) 0 myrem(30.9);
  @include mq(md) {
    font-size: myrem(36);
    line-height: calc(50 / 36);
    padding: myrem(83.3) 0 myrem(82.7);
    text-align: left;
  }
}

.p-news__cards {
  display: flex;
  flex-direction: column;
  gap: myrem(25);
  @include mq(md) {
    flex-direction: row;
    gap: myrem(33);
  }
}

.p-news .c-btn.c-btn--left {
  padding-top: myrem(50);
  @include mq(md) {
    padding-top: myrem(80);
  }
}
