@use "global" as *;

.p-news__inner {
  // セクション固有のインナー幅はmax-widthで調整する
  // max-width: myrem();
}

.p-news__box {
  @include mq(md) {
    display: flex;
  }
}

.p-news__box .c-title {
  margin-bottom: myrem(15);
  @include mq(md) {
    margin-bottom: 0;
  }
}

.p-news__cards {
  margin-top: myrem(64);
}

.p-news__text {
  font-size: myrem(16);
  line-height: calc(32 / 16);
  color: $black02;
  margin-top: myrem(24.1);
  @include mq(md) {
    font-size: myrem(36);
    line-height: calc(50 / 36);
    margin-top: myrem(83.3);
    text-align: left;
  }
}

.p-news__cards {
  display: flex;
  flex-direction: column;
  gap: myrem(25);
  @include mq(md) {
    flex-direction: row;
    gap: myrem(33);
  }
}

.p-news__card {
  @include mq(md) {
    width: myrem(250);
  }
}

.p-news__btn {
  display: flex;
  justify-content: center;
  margin-top: myrem(30.9);
  @include mq(md) {
    justify-content: flex-end;
    margin-top: myrem(82.7);
  }
}
