@use "global" as *;

.p-products {
  background-color: $cream;
}

.p-products__inner {
  // セクション固有のインナー幅はmax-widthで調整する
  // max-width: myrem();
}

.p-products__wrapper {
  background-color: $cream;
  display: flex;
  flex-direction: column;
  @include mq(md) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.p-products__body {
  display: contents;
  @include mq(md) {
    display: block;
  }
}

.p-products__body .c-title {
  order: 1;
}

.p-products__btn {
  display: flex;
  justify-content: center;
  order: 3;
  margin-top: myrem(50);
  @include mq(md) {
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: myrem(13);
  }
}

.p-products__cards {
  order: 2;
  display: flex;
  flex-direction: column;
  gap: myrem(25);
  margin-top: myrem(17);
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:myrem(25) myrem(33);
    grid-row: span 2 / span 2;
    width: myrem(533);
  }
}

.p-products__card {
  @include mq(md) {
    width: myrem(250);
  }
}
