@use "global" as *;

.p-products {
  background-color: $cream;
}

.l-inner.products__inner {
  padding-top: myrem(56.4);
  @include mq(md) {
    padding-top: myrem(110);
  }
}

.p-products__wrapper {
  background-color: $cream;
  display: flex;
  flex-direction: column;
  @include mq(md) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.p-products__body {
  display: contents;
  @include mq(md) {
    display: block;
  }
}

.p-products__body .c-title {
  order: 1;
  margin-bottom: myrem(18);
}

.p-products__body .c-btn {
  order: 3;
}

.p-products__cards {
  order: 2;
  display: flex;
  flex-direction: column;
  gap: myrem(25);
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:myrem(25) myrem(33);
    grid-row: span 2 / span 2;
    width: myrem(533);
  }
}
