@use "global" as *;

.l-products {
  background-color: $cream;
}

.l-products__wrapper {
  background: $cream;
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: start;
    // gap: myrem(33);
    }
}

.l-products__wrapper .c-title {
  margin-bottom: myrem(17);
  @include mq(md) {
    margin-bottom: 0;
    justify-content: flex-end;
  }
}

.l-products__cards {
  display: flex;
  flex-direction: column;
  gap: myrem(25);
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:myrem(25) myrem(33);
    grid-row: span 2 / span 2;
  }
}

.l-products__cards+.c-btn {
  padding: myrem(50) 0;
  @include mq(md) {
    padding: 0;
  }
}
